.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.cabecalho__conteudo {
  display: flex;
  align-items: center;
}

.cabecalho__busca {
  display: flex;
  background: #F5F5F5;
  border: transparent;
  border-radius: 20px;
  font-size: 1rem;
  padding-right: 1rem;
  margin-left: 2rem;
}

.conteudo__barra {
  background: #F5F5F5;
  border: transparent;
  border-radius: 20px;
  font-size: 1rem;
  padding: 1rem 0;
  padding-left: 2rem;
  padding-right: 13rem;
}

.conteudo__botao {
  background: #F5F5F5;
  border: transparent;
  font-size: 1rem;
}

.cabecalho__botao {
  background-color: transparent;
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
  font-size: 1rem;
  padding: 1.3rem 5.5rem;
}

.cabecalho__botao:hover {
  background-color: #c4ddff;
  cursor: pointer;
}