<<<<<<< HEAD
.rodape__conteudo {
  background-color: #EAF2FD;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 3rem 0;
}

.rodape__lista-links {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.lista__link {
  margin-bottom: 1.5rem;
}

.lista__link a {
  color: #464646;
  text-decoration: none;
}

.rodape__formulario {
  display: flex;
  flex-direction: column;
}

.formulario__texto {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.formulario__input {
  background-color: #FFFFFF;
  border: none;
  outline: none;
  font-size: 0.8rem;
  width: 40vw;
  height: 1.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 1rem;
}

.formulario__input:nth-child(2) {
  margin: 0;
}

.formulario__input:nth-child(4) {
 padding: 0.5rem 0.5rem 3rem 0.5rem ;
}

.rodape__texto {
  font-weight: 500;
  text-align: center;
  padding: 2rem 0;
}

=======
.rodape__conteudo {
  background-color: #EAF2FD;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 3rem 0;
}

.rodape__lista-links {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.lista__link {
  margin-bottom: 1.5rem;
}

.lista__link a {
  color: #464646;
  text-decoration: none;
}

.rodape__formulario {
  display: flex;
  flex-direction: column;
}

.formulario__texto {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.formulario__input {
  background-color: #FFFFFF;
  border: none;
  outline: none;
  font-size: 0.8rem;
  width: 40vw;
  height: 1.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 1rem;
}

.formulario__input:nth-child(2) {
  margin: 0;
}

.formulario__input:nth-child(4) {
 padding: 0.5rem 0.5rem 3rem 0.5rem ;
}

.rodape__texto {
  font-weight: 500;
  text-align: center;
  padding: 2rem 0;
}

>>>>>>> 06a02a344263ed0bbc942405317c4fe98683d4f5
